header {
    margin-bottom: 20px;
}

/* Estilo para sección main */
main h1 {
    color: #955E14;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    margin: 20px 0;
}

body {
background-color: #F7ECD7 ;
}


a {
    text-decoration: none;
    color: #000;
}

.carousel-inner img {
    width: 100%;
    max-height: 600px;
}

.carousel-inner {
 height: 600px;
}


/* Barra de navegación */

.container-fluid {
font-family: Georgia;
    
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #FBD8A9;
    font-weight: bold;
    color: #000;
}

.navbar-brand {
margin-left: auto;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    margin: 0 45px; /* Aplica margen izquierdo y derecho igual */
    font-size: larger;
}

.navbar-nav .nav-item:first-child {
    margin-left: 0; /* Elimina margen izquierdo del primer elemento */
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; /* Elimina margen derecho del último elemento */
}


/* Iconos nav-bar */
.navbar-nav .nav-item i {
    margin-left: 5px; 
}



/* Formulario/recuadro */
main .form-label {
    font-weight: bold; 
}

main .form-control {
    margin-bottom: 10px;
}


/* Estilo para el pie de página */
footer {
    text-align: center; 
    padding: 10px 0; /* Espacio arriba y abajo del pie de página */
    background-color: #f8f9fa; 
    color: #6c757d; /* Color del texto en el pie de página */
}

/* Informacion sobre la brecha tecnologica */
body {
    font-family: Arial, sans-serif;
    margin: 20px; /* Aplica un margen a todo el cuerpo de la página */
    line-height: 1.7;
}


h4, h5 {
    color: #333;
    text-align: center; /* Centra los títulos */
    text-decoration: underline; /* Subraya los títulos */
    margin-bottom: 20px;
}


p {
    line-height: 1.6;
    font-size: 18px; /* Tamaño de fuente más grande para legibilidad */
    margin-bottom: 20px; /* Espacio entre párrafos */
}

ul {
    list-style-type: disc;
    margin-left: 40px;
}

ul li {
    margin-bottom: 10px;
}
