.contact-container {
    display: flex;
    gap: 20px;
}

.contact-form {
    flex: 1 1 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #e1ac65;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #e1ac65;
}

.contact-map {
    flex: 1 1 50%;
}

.contact-map img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Barra de navegación */

.container-fluid {
    font-family: Georgia;
        
    }
    
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: #FBD8A9;
        font-weight: bold;
        color: #000;
    }
    
    .navbar-brand {
    margin-left: auto;
    }
    
    .navbar-nav {
        display: flex;
    }
    
    .nav-item {
        margin: 0 45px; /* Aplica margen izquierdo y derecho igual */
        font-size: larger;
    }
    
    .navbar-nav .nav-item:first-child {
        margin-left: 0; /* Elimina margen izquierdo del primer elemento */
    }
    
    .navbar-nav .nav-item:last-child {
        margin-right: 0; /* Elimina margen derecho del último elemento */
    }
    
    
    /* Iconos nav-bar */
    .navbar-nav .nav-item i {
        margin-left: 5px; 
    }

    body {
        background-color: #F7ECD7 ;
        }

        h1 {
            color: #955E14;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            text-align: center;
            margin: 20px 0;
            
        }

        footer {
            text-align: center; 
            padding: 10px 0; /* Espacio arriba y abajo del pie de página */
            background-color: #f8f9fa; 
            color: #6c757d; /* Color del texto en el pie de página */
        }
        